<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Peoples Page</title>
    <style>
        table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 14px;
            background: white;
            width: 100%;
            border-collapse: collapse;
            text-align: left;
            margin: 0 auto 5px;
            display: table;
            box-sizing: border-box;
            text-indent: initial;
            border-spacing: 2px;
            border-color: grey;
        }

        th {
            font-size: 20px;
        }
    </style>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Second name</th>
        <th>Position</th>
        <th>Department</th>
    </tr>
    </thead>
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.id}"/>
        <td th:text="${employee.firstName}"/>
        <td th:text="${employee.secondName}"/>
        <td th:text="${employee.position}"/>
        <td th:text="${employee.department.name}"/>
    </tr>
</table>
</body>
</html>
