<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Peoples Page</title>
  <style>
    table {
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
      font-size: 14px;
      background: white;
      width: 100%;
      border-collapse: collapse;
      text-align: left;
      margin: 0 auto 5px;
      display: table;
      box-sizing: border-box;
      text-indent: initial;
      border-spacing: 2px;
      border-color: grey;
    }

    th {
      font-size: 20px;
    }
  </style>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Info</th>
    <th>Customer</th>
  </tr>
  </thead>
  <tr th:each="project: ${projects}">
    <td th:text="${project.id}"/>
    <td th:text="${project.info}"/>
    <td th:text="${project.customer.company}"/>
  </tr>
</table>
</body>
</html>
